* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --prim-white: #faf9f6;
  --prim-black: #222222;
  --neutral-gray: #6c6c6cff;
  --accent-purple: #866eb3ff;
  --mobile-role-gap: 1.5rem;
  --thumb-ratio: 1.77;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding: 3.5rem; */
}

body {
  height: 100svh;
  width: 100dvw;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5;
  background: var(--prim-white);
}

/* font styles */

h1 {
  font-family: "Gelasio", serif;
  font-size: 2rem;
}

h2 {
  font-family: "Gelasio", serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "Gelasio", serif;
  font-size: 1.25rem;
}

p,
a {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

/* end of font styles */

/* navigation */

.mobile-nav-toggle {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--prim-white);
  /* background-color: var(--prim-white); */
  /* background-color: rgba(255, 2495, 246, 0.2); */
}

nav > p {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--prim-black);
}

nav > p > span {
  color: var(--accent-purple);
}

nav a:link,
nav a:visited {
  color: var(--prim-black);
}

#nav-list {
  list-style-type: none;
  display: flex;
  gap: 2.375rem;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.nav-item > a {
  text-decoration: none;
}

/* end of navigation */

/* section {
  height: 100%;
  width: 100%;
} */

/* home section */
#home {
  background: var(--prim-white);
  /* background: purple; */
  height: 100%;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.avatar {
  width: 25%;
  aspect-ratio: 16 / 9;
  /* height: 400px; */
  object-fit: contain;
}

.intro {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.intro > h1 {
  color: var(--accent-purple);
}

.contact-info {
  display: flex;
  gap: 2rem;
}

.linkedIn-icon-container,
.email-icon-container {
  width: 2rem;
  aspect-ratio: 1;
  background-color: transparent;
  cursor: pointer;
}

.linkedIn-icon-container {
  background-image: url("assets/linkedIn-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.email-icon-container {
  background-image: url("assets/email-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* end of home section */

/* projects section */

#projects,
#other,
#about {
  padding: 5rem 5rem;
  background-color: var(--prim-white);
  display: flex;
  flex-direction: column;
}

.projects-container {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

#projects h2 {
  color: var(--accent-purple);
}

#projects h1,
#other h1,
#about h1 {
  position: sticky;
  top: 64px;
  color: var(--prim-black);
}

#projects span,
#other span,
#about span {
  color: var(--accent-purple);
}

#projects a {
  text-decoration: none;
}

.thumbnail-container {
  width: 100%;
  aspect-ratio: var(--thumb-ratio);
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  /* max-width: 1200px; */
  width: 100%;
  aspect-ratio: var(--thumb-ratio);
  border-radius: 20px;
  transition: 0.3s;
}

#projects .desc {
  color: var(--prim-black);
}

#projects .tags {
  color: var(--neutral-gray);
  font-size: 0.75rem;
}

.project-group {
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
}

/* end of projects section */

/* start of misc section */

.misc-container {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  max-width: 700px;
  aspect-ratio: 1;
}

.misc {
  width: 100%;
  height: auto;
}
/* end of misc section */

/* start of about section */
.blurb {
  margin: 4rem auto;
  max-width: 600px;
  /* display: flex;
  flex-direction: column; */
}

/* #info {
  background: blue;
} */

/* #contact {
  background: yellow;
} */

#contact {
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#contact h3,
#contact a {
  color: var(--accent-purple);
  /* text-decoration: underline;  */
}

#contact .opportunity {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#contact .copyright {
  font-size: 0.75rem;
}

@media (hover: hover) {
  .thumbnail:hover {
    width: 95%;
  }

  #contact a:hover {
    font-style: oblique;
  }
}

@media (max-width: 768px) {
  .project-group {
    width: 100%;
  }

  #projects h1,
  #other h1,
  #about h1 {
    position: static;
  }

  .misc-container {
    width: 100%;
  }

  .blurb {
    width: 100%;
  }
}

@media (max-width: 480px) {
  html {
    scroll-padding: 3.5rem;
  }
  nav > p {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .nav-item > a {
    font-size: 1.25rem;
  }
  #nav-list {
    position: fixed;
    inset: 0 0 0 0;
    background: var(--prim-white);
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* moves it off the page so it's hidden */
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  #nav-list[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url("assets/menu.svg");
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    top: 1.25rem;
    right: 1.25rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("assets/close.svg");
  }

  #home,
  #projects,
  #contact,
  #other,
  #about {
    padding: 0 1.25rem;
  }

  #contact {
    padding-top: 3rem;
  }

  .avatar {
    width: 50%;
  }

  .intro {
    max-width: 100%;
  }

  /* .details {
    flex-direction: column;
    gap: var(--mobile-role-gap);
  } */
}
