* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --prim-white: #faf9f6;
  --prim-black: #222222;
  --neutral-gray: #4d4d4d;
  --accent-blue: #1d86c3;
  --mobile-role-gap: 1.5rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 3.5rem;
}

body {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5;
}

/* font styles */

h1 {
  font-family: "Gelasio", serif;
  font-size: 2rem;
}

h2 {
  font-family: "Gelasio", serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "Gelasio", serif;
  font-size: 1.25rem;
}

p,
a {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

/* end of font styles */

/* navigation */

.mobile-nav-toggle {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(250, 249, 246, 0.2);
}

nav > p {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav > p > span {
  color: var(--accent-blue);
}

nav a:link,
nav a:visited {
  color: var(--prim-black);
}

#nav-list {
  list-style-type: none;
  display: flex;
  gap: 2.375rem;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.nav-item > a {
  text-decoration: none;
}

/* end of navigation */

section {
  height: 100%;
  width: 100%;
}

/* home section */
#home {
  background: var(--prim-white);
  /* background: purple; */
  height: 100%;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.avatar {
  width: 25%;
  aspect-ratio: 16 / 9;
  /* height: 400px; */
  object-fit: contain;
}

.intro {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.intro > h1 {
  color: var(--accent-blue);
}

.details {
  max-width: 66%;
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
}

.type {
  font-size: 0.75rem;
  color: var(--neutral-gray);
}

.occupation {
  flex: 2;
}

.interests,
.contact-info {
  flex: 1;
}

/* end of home section */

#projects {
  background: yellow;
}

#info {
  background: blue;
}

#contact {
  background: yellow;
}

@media (max-width: 480px) {
  nav > p {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .nav-item > a {
    font-size: 1.25rem;
  }
  #nav-list {
    position: fixed;
    inset: 0 0 0 0;
    background: var(--prim-white);
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* moves it off the page so it's hidden */
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  #nav-list[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url("assets/menu.svg");
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    top: 1.25rem;
    right: 1.25rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("assets/close.svg");
  }

  #home {
    padding: 0 1.25rem;
  }

  .avatar {
    width: 50%;
  }

  .intro {
    max-width: 100%;
  }

  .details {
    flex-direction: column;
    gap: var(--mobile-role-gap);
  }
}
